li.exercise{
  display: inline-block;
  height: 100px;
  width: 235px;
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
}

.diff-easy .difficulty {
  color: #55aa55;
}

.diff-medium .difficulty {
  color: #ff8000;
}

.diff-hard .difficulty {
  color: #ff0000;
}

.exercise .exerciseName {
  color: #000;
  font-weight: bold;
}

.exercise.completed {
  background: url('completed-icon.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
